#body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#title {
    margin-top: 2vh;
    width: 90vw;
    height: 10vh;
    text-align: center;
    display: inline-block;
}

#title1 {
    width: 80%;
    height: 99%;
}

#title2 {
    width: 12%;
    height: 99%;
}

.invisible{
    display: none;
}

#gameboard {
    width: 95vw;
    height: 95vw;
    text-align: center;
    border: 2px solid;
    border-color: darkslategrey;
    margin: 2.5% 2.5% 2.5% 2.5%;
    table-layout: fixed;
    border-collapse: collapse;
}

.quad0, .quad2, .quad4, .quad6, .quad8 {
    background-color: aliceblue;
}

.quad1, .quad3, .quad5, .quad7 {
    background-color: lightgray;
}

.cell {
    border: 1px solid;
    border-color: darkslategrey;
    width: calc(100% / 9);
    height: calc(100% / 9);
    font-size: 20px;
    color: blue;
}

.row2, .row5 {
    border-bottom: 2px solid;
    border-color: darkslategrey;
}

.col2, .col5 {
    border-right: 2px solid;
    border-color: darkslategrey;
}

.clue {
    font-weight: bold;
    color: black;
}

#controlPad {
    margin: 2.5% 5%;
    width: 90vw;
    text-align: center;
    table-layout: fixed;
}

    #controlPad button {
        padding-left: 5px;
        padding-right: 5px;
    }

.highlight {
    background-color: lightblue;
}

.match {
    background-color: aqua;
}