#body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#title {
    margin-top: 5vh;
    width: 85vw;
}

#sprite{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 65vw;
    height: 65vw;
}

#message{
    font-size: 14px;
    margin-bottom: 5vw;
}
